# DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO

# URL for OPENAI-like API (required)
OPENAI_BASE_URL=

# API key from your AI provider (required)
OPENAI_API_KEY=

# Postgres (docker-compose)
POSTGRES_USER=arima
POSTGRES_PASSWORD=arima
POSTGRES_DB=arima
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://arima:arima@localhost:5432/arima
